@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* =========================
   THEME VARIABLES
========================= */
@theme {
    --font-primary: "Inter", sans-serif;
    --color-primary: #2cb7c2;
    --color-custom-opacity: #00000061;
    --color-modal-opacity: #00000080;
    --color-dark-primary: #04949f;
}

/* =========================
   BASE STYLES
========================= */
@layer base {
    html {
        font-family: var(--font-primary), ui-sans-serif, system-ui,
        -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Arial, sans-serif;
        font-optical-sizing: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        -ms-text-size-adjust: 100%;
    }
}

.custom_img_size {
    width: 80px;
    height: 80px;
}

.custom_padding {
    padding: 20px 100px;
}

/*--------------------------- Print Setting -------------------------*/
#print-area {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    #print-area,
    #print-area * {
        visibility: visible;
    }

    #print-area {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 766px) {
    .custom_padding {
        padding: 20px !important;
    }
}